<h1>Pirate <%= @pirate.name%> weighs <%= @pirate.weight %> and is <%= @pirate.height %></h1>


<% @ships.each do |ship| %>
  <h2><%= ship.name %> is a <%= ship.type %> and carrying a booty of <%= ship.booty %></h2>
<% end %>
